In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read in our initial data for Statcast and Fangraph 2018
sc_2018 = pd.read_csv("data/Statcast_batting_2018.csv")

In [3]:
#2018 statcast inspection
sc_2018.dtypes

last_name                 object
 first_name               object
player_id                  int64
attempts                   int64
avg_hit_angle            float64
anglesweetspotpercent    float64
max_hit_speed            float64
avg_hit_speed            float64
fbld                     float64
gb                       float64
max_distance               int64
avg_distance               int64
avg_hr_distance          float64
ev95plus                   int64
ev95percent              float64
barrels                    int64
brl_percent              float64
brl_pa                   float64
dtype: object

In [4]:
sc_2018.head()

,last_name,first_name,player_id,attempts,avg_hit_angle,anglesweetspotpercent,max_hit_speed,avg_hit_speed,fbld,gb,max_distance,avg_distance,avg_hr_distance,ev95plus,ev95percent,barrels,brl_percent,brl_pa
0,Stanton,Giancarlo,519317,416,11.6,30.0,121.7,93.7,99.7,91.4,458,175,405.0,210,50.5,63,15.1,8.9
1,Sanchez,Gary,596142,231,14.2,29.4,121.1,90.3,97.7,85.9,461,171,413.0,96,41.6,32,13.9,8.6
2,Judge,Aaron,592450,266,12.4,35.7,119.9,94.7,97.7,92.1,471,183,397.0,144,54.1,43,16.2,8.6
3,Palka,Daniel,594953,264,11.5,28.4,118.4,92.3,97.4,90.1,448,172,410.0,129,49.0,38,14.4,8.5
4,Gonzalez,Carlos,471865,353,8.9,30.3,118.3,89.4,92.3,88.8,473,159,420.0,138,39.2,22,6.2,4.4

In [5]:
sc_2018.columns = ["Last Name", "First Name", "MLB PlayerID", "Attempts(BBE)", "Avg Launch Angle", "Sweet Spot %", "Max EV(mph)", "Avg EV(mph)", "FB/LD EV(mph)", "GB EV(mph)","Max Distance(ft)","Avg Distance(ft)", "Avg HR Distance(ft)", "Hard Hit(EV95+)","Hard Hit %", "Barrels", "Barrels%","Barrel_PA"]

In [6]:
sc_2018.shape

(480, 18)

In [7]:
sc_2018.head()

,Last Name,First Name,MLB PlayerID,Attempts(BBE),Avg Launch Angle,Sweet Spot %,Max EV(mph),Avg EV(mph),FB/LD EV(mph),GB EV(mph),Max Distance(ft),Avg Distance(ft),Avg HR Distance(ft),Hard Hit(EV95+),Hard Hit %,Barrels,Barrels%,Barrel_PA
0,Stanton,Giancarlo,519317,416,11.6,30.0,121.7,93.7,99.7,91.4,458,175,405.0,210,50.5,63,15.1,8.9
1,Sanchez,Gary,596142,231,14.2,29.4,121.1,90.3,97.7,85.9,461,171,413.0,96,41.6,32,13.9,8.6
2,Judge,Aaron,592450,266,12.4,35.7,119.9,94.7,97.7,92.1,471,183,397.0,144,54.1,43,16.2,8.6
3,Palka,Daniel,594953,264,11.5,28.4,118.4,92.3,97.4,90.1,448,172,410.0,129,49.0,38,14.4,8.5
4,Gonzalez,Carlos,471865,353,8.9,30.3,118.3,89.4,92.3,88.8,473,159,420.0,138,39.2,22,6.2,4.4

In [8]:
#2018 fangraphs
fg_2018 = pd.read_csv("data/Fangraphs_batting_2018.csv")

In [9]:
fg_2018.head()

,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Mookie Betts,Red Sox,136,614,32,129,80,30,13.20%,14.80%,...,0.346,0.438,0.640,0.449,185,6.9,69.1,11.6,10.4,13611
1,Mike Trout,Angels,140,608,39,101,79,24,20.10%,20.40%,...,0.312,0.460,0.628,0.447,191,5.0,71.1,4.2,9.8,10155
2,Jose Ramirez,Indians,157,698,39,110,105,34,15.20%,11.50%,...,0.270,0.387,0.552,0.391,146,12.0,50.6,4.6,8.0,13510
3,Alex Bregman,Astros,157,705,31,105,103,10,13.60%,12.10%,...,0.286,0.394,0.532,0.396,157,3.4,51.4,-0.6,7.6,17678
4,Francisco Lindor,Indians,158,745,38,129,92,25,9.40%,14.40%,...,0.277,0.352,0.519,0.368,130,1.2,28.3,21.1,7.6,12916

In [10]:
#rename fangraphs playerid to FG PlayerID
fg_2018_clean = fg_2018.rename(columns={"playerid":"FG PlayerID"})

In [11]:
#inspect fangraphs data
fg_2018_clean.dtypes

Name            object
Team            object
G                int64
PA               int64
HR               int64
R                int64
RBI              int64
SB               int64
BB%             object
K%              object
ISO            float64
BABIP          float64
AVG            float64
OBP            float64
SLG            float64
wOBA           float64
wRC+             int64
BsR            float64
Off            float64
Def            float64
WAR            float64
FG PlayerID      int64
dtype: object

In [12]:
#fangraphs and statcast use different player ID references, will use cross-walk created by Amy R. to match
player_id = pd.read_csv("data/PlayerID_xwalk.csv")

In [13]:
player_id.head()

,Name,fg_playerid,MASTER_NAME,retroID,LahmanID,mlbID,bbrefID
0,Alfredo Amezaga,1,Alfredo Amezaga,ameza001,amezaal01,NaN,amezaal01
1,Garret Anderson,2,Garret Anderson,andeg001,anderga01,NaN,anderga01
2,Kevin Appier,3,Kevin Appier,appik001,appieke01,NaN,appieke01
3,Jamie Burke,6,Jamie Burke,burkj003,burkeja02,NaN,burkeja02
4,Dennis Cook,8,Dennis Cook,cookd001,cookde01,NaN,cookde01

In [14]:
#drop columns and only keep fangraph and mlb ID data
player_id_clean = player_id[["fg_playerid", "mlbID"]]

In [15]:
player_id_clean.dtypes

fg_playerid      int64
mlbID          float64
dtype: object

In [16]:
#rename mlbID to playerid to match our tables above
#will need to convert playerid to an int64
player_id_clean.columns = ["FG PlayerID", "MLB PlayerID"]
player_id_clean.head()

   FG PlayerID  MLB PlayerID
0            1           NaN
1            2           NaN
2            3           NaN
3            6           NaN
4            8           NaN

In [17]:
#add the fangraph player ID info to our statcast data by MLB PlayerID, only keep data that matches with innner join
sc_2018_clean = pd.merge(sc_2018, player_id_clean, how="inner", on="MLB PlayerID")

In [18]:
sc_2018_clean.head()

,Last Name,First Name,MLB PlayerID,Attempts(BBE),Avg Launch Angle,Sweet Spot %,Max EV(mph),Avg EV(mph),FB/LD EV(mph),GB EV(mph),Max Distance(ft),Avg Distance(ft),Avg HR Distance(ft),Hard Hit(EV95+),Hard Hit %,Barrels,Barrels%,Barrel_PA,FG PlayerID
0,Stanton,Giancarlo,519317,416,11.6,30.0,121.7,93.7,99.7,91.4,458,175,405.0,210,50.5,63,15.1,8.9,4949
1,Sanchez,Gary,596142,231,14.2,29.4,121.1,90.3,97.7,85.9,461,171,413.0,96,41.6,32,13.9,8.6,11442
2,Judge,Aaron,592450,266,12.4,35.7,119.9,94.7,97.7,92.1,471,183,397.0,144,54.1,43,16.2,8.6,15640
3,Palka,Daniel,594953,264,11.5,28.4,118.4,92.3,97.4,90.1,448,172,410.0,129,49.0,38,14.4,8.5,14897
4,Gonzalez,Carlos,471865,353,8.9,30.3,118.3,89.4,92.3,88.8,473,159,420.0,138,39.2,22,6.2,4.4,7287

In [19]:
#check how many lines of data we have now
#we see we dropped 12 lines
sc_2018_clean.shape

(468, 19)

In [20]:
#now we can merge our statcast and fangraph data on matching FG PlayerID, inner join to keep only data for players that match
batting_stats_2018 = pd.merge(sc_2018_clean,fg_2018_clean, how="inner", on="FG PlayerID")

In [21]:
#check size of data, and we see that we dropped 20 more lines
batting_stats_2018.shape

(448, 40)

In [22]:
batting_stats_2018.head()

,Last Name,First Name,MLB PlayerID,Attempts(BBE),Avg Launch Angle,Sweet Spot %,Max EV(mph),Avg EV(mph),FB/LD EV(mph),GB EV(mph),...,BABIP,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR
0,Stanton,Giancarlo,519317,416,11.6,30.0,121.7,93.7,99.7,91.4,...,0.333,0.266,0.343,0.509,0.360,127,-0.1,22.8,-5.3,4.2
1,Sanchez,Gary,596142,231,14.2,29.4,121.1,90.3,97.7,85.9,...,0.197,0.186,0.291,0.406,0.304,89,-0.3,-5.2,9.0,1.7
2,Judge,Aaron,592450,266,12.4,35.7,119.9,94.7,97.7,92.1,...,0.368,0.278,0.392,0.528,0.391,149,1.4,30.3,2.3,5.1
3,Palka,Daniel,594953,264,11.5,28.4,118.4,92.3,97.4,90.1,...,0.308,0.240,0.294,0.484,0.329,109,-0.8,4.0,-12.1,0.7
4,Gonzalez,Carlos,471865,353,8.9,30.3,118.3,89.4,92.3,88.8,...,0.332,0.276,0.329,0.467,0.338,96,3.6,1.4,-0.5,1.7

In [23]:
batting_stats_2018.columns

Index(['Last Name', 'First Name', 'MLB PlayerID', 'Attempts(BBE)',
       'Avg Launch Angle', 'Sweet Spot %', 'Max EV(mph)', 'Avg EV(mph)',
       'FB/LD EV(mph)', 'GB EV(mph)', 'Max Distance(ft)', 'Avg Distance(ft)',
       'Avg HR Distance(ft)', 'Hard Hit(EV95+)', 'Hard Hit %', 'Barrels',
       'Barrels%', 'Barrel_PA', 'FG PlayerID', 'Name', 'Team', 'G', 'PA', 'HR',
       'R', 'RBI', 'SB', 'BB%', 'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG',
       'wOBA', 'wRC+', 'BsR', 'Off', 'Def', 'WAR'],
      dtype='object')

In [24]:
#pull our analysis data for 2018
analysis_data_18 = batting_stats_2018[["Avg Launch Angle", "Avg EV(mph)", "Barrels%","wRC+"]]

In [25]:
analysis_data_18.head()

   Avg Launch Angle  Avg EV(mph)  Barrels%  wRC+
0              11.6         93.7      15.1   127
1              14.2         90.3      13.9    89
2              12.4         94.7      16.2   149
3              11.5         92.3      14.4   109
4               8.9         89.4       6.2    96

In [26]:
#define our independent and dependent variables. wRC+ will be our y
X = analysis_data_18.iloc[:,:-1].values
y = analysis_data_18.iloc[:,3].values

In [27]:
#Next step is that we need to split our dataset into a training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [28]:
X.shape

(448, 3)

In [29]:
#fitting multiple lineaer regression to the training set
from sklearn.linear_model import LinearRegression

In [30]:
#define regressor and then fit it to  our training set
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
#predicting the Test set results
y_pred = regressor.predict(X_test)

In [32]:
y_pred

array([102.35826097, 125.57980857,  80.45690621,  75.99696049,
        91.89982999, 109.59354321, 126.50867726, 107.43942832,
        86.00834432, 109.68730632, 102.54388072, 112.22370083,
        93.01060543,  90.30213573,  93.61525103, 113.61098323,
        89.19553694, 120.53239613, 116.51767464,  93.20470235,
        79.23826726,  98.82938696,  98.75998401,  93.84942886,
        96.88562541,  88.31558627, 104.65820261,  91.61617831,
       114.00345256,  93.37728819,  75.93895094,  69.46584073,
        97.1316603 , 115.79066197, 108.46161662,  86.36660177,
        86.84171053,  88.18225776,  74.35009379,  76.95584426,
        85.98476076,  97.5716097 ,  84.1897404 ,  96.87410147,
        71.11472806,  86.2656219 ,  95.70934242, 100.38111112,
        67.39277662, 121.66240095,  97.08151356,  90.58591796,
        88.28255124, 153.94054838,  91.99586814,  87.06341695,
        92.66459001, 118.15716235, 111.64123254,  70.8013944 ,
       105.6893049 ,  85.57479475,  89.75529045, 121.24652559,
       126.67424404,  88.67729562,  90.87128886,  77.74495291,
        61.08259821,  85.70517534, 121.90715526,  83.34441343,
        81.98506698,  93.25648961, 111.3250498 ,  91.39419063,
        96.29836611,  75.91961605,  88.41618117,  96.52242626,
        71.77938366,  63.322431  ,  90.47369541,  61.74246281,
        80.91209741, 107.5488335 ,  89.756546  ,  98.81048402,
       104.36097467,  89.45799048])

In [33]:
y_test

array([ 90,  95,  89,  54, 115, 107, 104,  59,  93, 131, 154, 122,  89,
        89, 103, 114, 108,  89, 115,  71,  57,  93,  68,  70, 113,  79,
       103,  95, 140, 104, 122,  90, 113,  82,  69,  85, 108, 116,  33,
       108, 106, 104,  66,  74,  54,  84,  97,  36,  59, 107,  64,  75,
        94, 110, 124,  77, 105,  96, 125,  75, 115, 120, 108, 143, 162,
        48,  95,  87, 110,  96, 145,  76,  42,  63, 126,  51, 102,  86,
       106,  99,  81,  89,  58,  84,  80, 120,  88, 118, 120, 104],
      dtype=int64)

In [39]:
#building the optimal model using backward elimination
#this library doesn't include the X0 by default
#we'll need to manually add a column of 1 to our independent values
# import statsmodels.formula.api as sm
import statsmodels.regression.linear_model as sm

In [35]:
X = np.append(arr = np.ones((448,1),dtype=int), values = X ,axis=1)

In [36]:
X

array([[ 1. , 11.6, 93.7, 15.1],
       [ 1. , 14.2, 90.3, 13.9],
       [ 1. , 12.4, 94.7, 16.2],
       ...,
       [ 1. ,  8.9, 76.2,  0. ],
       [ 1. , 10.4, 81.8,  1.2],
       [ 1. , 10.8, 82.6,  0.5]])

In [40]:
#optimal matrix of features, that are statistically significant for dependent variable
#we need to select our significance level to stay in the model (SL = 0.05)
#step 2: Fit the full model with all possible predictors
#need to create a new regressor object for the statsmodel class
X_opt = X[:,[0,1,2,3]]
regressor_OLS = sm.OLS(endog = y, exog= X_opt).fit()

In [41]:
#step 3: Consider the predictor with the highest P-Vlaue. If P>SL, go to step 4, otherwise go to FIN
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.359
Model:                            OLS   Adj. R-squared:                  0.355
Method:                 Least Squares   F-statistic:                     82.97
Date:                Sun, 21 Jul 2019   Prob (F-statistic):           1.24e-42
Time:                        22:34:53   Log-Likelihood:                -2038.0
No. Observations:                 448   AIC:                             4084.
Df Residuals:                     444   BIC:                             4100.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -258.0697     48.057     -5.370      0.000    -352.518    -163.622
x1             0.1314      0.252      0.521      0.603      -0.365       0.627
x2             3.8545      0.564      6.839      0.000       2.747       4.962
x3             1.9184      0.429      4.477      0.000       1.076       2.761
==============================================================================
Omnibus:                        8.019   Durbin-Watson:                   2.086
Prob(Omnibus):                  0.018   Jarque-Bera (JB):                8.035
Skew:                          -0.283   Prob(JB):                       0.0180
Kurtosis:                       3.330   Cond. No.                     3.93e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.93e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [42]:
#Step 4 we now need to remove highest p-value, X1, index1, and fit model again
X_opt = X[:,[0,2,3]]
regressor_OLS = sm.OLS(endog = y, exog= X_opt).fit()

In [43]:
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.359
Model:                            OLS   Adj. R-squared:                  0.356
Method:                 Least Squares   F-statistic:                     124.5
Date:                Sun, 21 Jul 2019   Prob (F-statistic):           1.12e-43
Time:                        22:48:17   Log-Likelihood:                -2038.1
No. Observations:                 448   AIC:                             4082.
Df Residuals:                     445   BIC:                             4095.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -252.4552     46.793     -5.395      0.000    -344.419    -160.492
x1             3.8019      0.554      6.862      0.000       2.713       4.891
x2             2.0043      0.395      5.073      0.000       1.228       2.781
==============================================================================
Omnibus:                        7.659   Durbin-Watson:                   2.086
Prob(Omnibus):                  0.022   Jarque-Bera (JB):                7.621
Skew:                          -0.279   Prob(JB):                       0.0221
Kurtosis:                       3.312   Cond. No.                     3.80e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.8e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
#our Avg EV and Barrels% are strong predicators of wRC+